.venv/
ffmpeg-src/

__pycache__/
.pytest_cache/
*.pyc

*.log
*.tar.xz
*.tar.gz
*.a
*.o
*.so
*.lo
*.la
*.d
*.ver
ffmpeg-src/ffmpeg-*/ffbuild/

ffmpeg-src/ffmpeg-*/ffmpeg
ffmpeg-src/ffmpeg-*/ffmpeg_g
ffmpeg-src/ffmpeg-*/ffprobe
ffmpeg-src/ffmpeg-*/ffprobe_g
ffmpeg-src/ffmpeg-*/ffplay
ffmpeg-src/ffmpeg-*/ffplay_g
